footer{
    background-color: var(--primeira-cor);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    font-family: monospace;
}