nav{
    background-color: var(--segunda-cor);
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    padding: 10px;
    width: 98.2vw;
    
    .logo{
        display: flex;
        font-style: italic;
        font-size: 20px;
        
        .letreiro{
            text-align: right;
        }

        img{
            width: 60px;
        }
    }

    ul {
        
        a{
            margin-right: 20px;
            text-decoration: none;
            color: black;
            
        }

        img{
            margin-right: 5px;
            vertical-align: bottom;
            width: 30px;
            margin-top: 10px;    
        } 
    }

    a:hover{
        transform: translateY(-3px);
        width: 50px;
    }
}

.hamburguer {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
  }

  .menu2 {
    display: none;
    flex-direction: column;
    gap: 10px;
  }




@media screen and (max-width: 525px) {
    
    .menu1 {
        display: none;
      }
    
      .hamburguer {
        display: block;
      }
    
      .menu2 {
        display: none;
      }
    
      .menu2.active {
        display: flex;
      }
}