nav{
    background-color: var(--primeira-cor);
    color: var(--terceira-cor);
    justify-content: space-between;
    position: sticky;
    display: flex;
    padding: 10px;

    .logo{
        
        img{
            width: 60px;
        }
    }

    ul {
      
        a{
            margin-right: 20px;
            text-decoration: none;
            color: black;
        }

        img{
            margin-right: 5px;
            vertical-align: bottom;
            width: 30px;
            margin-top: 10px;    
        } 
    }
}
