<nav>

    <div class="logo">
        <a routerLink="/" href=""><img src="/assets/imagens/click.png" alt=""></a>
        <div class="letreiro">
            <p><b>Click</b></p>
            <p><b>Farma</b></p>
        </div> 
    </div>

    <ul>  
        <a href="/"><img src="assets/imagens/home.png" alt="">Home</a>
        
        <a routerLink="/carrinho" href=""><img src="assets/imagens/shopping-cart.png" alt="">Carrinho</a>
        
        <a routerLink="/login" href=""><img src="assets/imagens/user.png" alt="">Login</a>
        
    </ul>
</nav>
