<app-navbar></app-navbar>
<main>
    <section>
        <div>
            <div class="campos">
                <label for="usuario">Usuário</label>
                <input id="usuario" type="text" placeholder="Digite seu usuario" required>
            </div>

            <div class="campos">
                <label for="senha">Senha</label>
                <input id="senha" type="password" placeholder="Digite sua senha" required>
            </div>
            
            <div class="btn">
                <button type="submit">Entrar</button>
            </div>
                
            <div class="links">
                <a href="">Esqueceu a senha?</a>
                <a href="">Cadastrar-se</a>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>