<app-navbar></app-navbar>
<app-slider></app-slider>

<section>
    <h1>Confira nossos Produtos: <a href="#produto"><img src="/assets/imagens/down-arrow.png" alt=""></a></h1>
    <div class="central">
        <div class="container">
            <div id="produto" class="produtos"><a href="">Cartelados</a><img src="assets/imagens/pills.png" alt=""></div>
            <div class="produtos"><a href="">Controlados</a><img src="assets/imagens/medicine.png" alt=""></div>
            <div class="produtos"><a href="">Vitaminas</a><img src="assets/imagens/vitamins.png" alt=""></div>
        </div>
    </div>
</section>
<app-footer></app-footer>
