*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}


:root{

    --primeira-cor:  #b3d7e0;
    --segunda-cor: #63aecf;
    --terceira-cor: #dbe7ea;

    
}

body{
    background-color: var(--terceira-cor);
}

